.App-spells {
  padding: 0.5rem;
}

.App-card-page-container {
  display: flex;
  break-after: always;
  width: 90vh;
  height: 90vh;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.App-card-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}
