$card-height: 60.9mm;
$card-width: 84.75mm;

$card-padding: 0.012 * $card-height;
$top-height: 0.29 * $card-height;
$level-marker-size: 0.1 * $card-height;
$line-width: 0.01 * $card-height;

$dark-background: #333;

$name-width: 0.697 * $card-width;

.SpellCard-outer-container {
  /* Sizing */
  display: inline-block;
  width: $card-width;
  height: $card-height;
  position: relative;
  vertical-align: top;

  /* Styling */
  outline: $line-width solid black;
}

.SpellCard-inner-container {
  /* Sizing */
  display: flex;
  width: 100%;
  height: 100%;

  /* Layout */
  flex-direction: column;
}

.SpellCard-top-container {
  /* Sizing */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: $top-height;

  /* Background */
  background-color: white;

  /* Border */
  border-bottom: $line-width solid black;
}

.SpellCard-top-upper-row {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: $card-padding;
  padding-bottom: $card-padding;
}

.SpellCard-top-lower-row {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}

.SpellCard-top-lower-row-back-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  opacity: 0.7;
}

.SpellCard-top-lower-row-back {
  width: 100%;
  height: 100%;
  /* Background */
  background-image: url('https://homebrewery.naturalcrit.com/assets/parchmentBackground.jpg');
}

.SpellCard-level-marker {
  /* Sizing */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $level-marker-size;
  height: $level-marker-size;
  margin-left: $card-padding * 0.5;
  margin-right: $card-padding;

  /* Text */
  color: white;
  text-align: center;
}

.SpellCard-level-marker-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: visible;
  z-index: 1;
  color: black;
  font-size: $level-marker-size * 0.8;
}

.Spell-combat-true .SpellCard-level-marker-icon {
  width: $level-marker_size;
  height: $level_marker_size;
  transform: translate(0, -0.2 * $level-marker-size);
}
.Spell-combat-false .SpellCard-level-marker-icon {
  width: $level-marker-size * 1.1;
  height: $level-marker-size * 1.1;
  transform: translate(-0.05 * $level-marker-size, -0.2 * $level-marker-size);
}

.SpellCard-level-marker-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  font-size: $level-marker-size;
}
.Spell-combat-true .SpellCard-level-marker-text {
  transform: translate(0.285 * $level-marker-size, -0.28 * $level-marker-size);
}
.Spell-combat-false .SpellCard-level-marker-text {
  transform: translate(0.27 * $level-marker-size, -0.34 * $level-marker-size);
}

.SpellCard-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  width: $name-width;
  height: $level-marker-size;
  transform: translateY(0.2 * $level-marker-size);
  font-size: $level-marker-size * 0.73;
  line-height: $level-marker-size * 0.6;
}

.SpellCard-info-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: $card-padding * 0.5;
  font-weight: bold;;
  width: $level-marker-size * 2.5;
  margin-right: $card-padding * 0.5;
}

.SpellCard-info-bar-item {
  /* Sizing */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: $level-marker-size * 2.5;
  height: $level-marker-size * 0.42;
  border-radius: 0.5 * $card-padding;
  font-size: $level-marker-size * 0.4;
  line-height: $level-marker-size * 0.4;
  padding-left: $card-padding * 0.5;
  padding-right: $card-padding * 0.5;
  padding-top: $card-padding * 0.25;
  padding-bottom: $card-padding * 0.25;

  /* Text */
  color: white;
  text-wrap: nowrap;

  /* Background */
  background-color: $dark-background;
}

.SpellCard-info-bar-item-icon {
  font-size: $level-marker-size * 0.3;
}

.SpellCard-vsm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: $level-marker-size * 0.9;
  margin-right: $card-padding;
  padding-left: $card-padding * 0.4;
  padding-right: $card-padding * 0.4;

  border-radius: 0.5 * $card-padding;
  background-color: $dark-background;
  color: white;
}

.SpellCard-vsm-item {
  font-size: $level-marker-size * 0.3;
  line-height: $level-marker-size * 0.3;
}

.SpellCard-short-description {
  position: relative;
  z-index: 1;
  font-size: $level-marker-size * 0.4;
  line-height: $level-marker-size * 0.5;
  padding-left: $card-padding * 0.5;
  padding-right: $card-padding * 0.5;
}

.SpellCard-bottom-container {
  /* Sizing */
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: calc(100% - $top-height);
  font-size: 0.5rem;
  overflow: hidden;
  background-color: white;
  padding: $card-padding * 0.5;
}
