@font-face {
  font-family: 'MrEavesRemake';
  font-style: normal;
  font-weight: normal;
  src: url('https://homebrewery.naturalcrit.com/fonts/5e/Mr%20Eaves%20Small%20Caps.woff2')
}

/* Text */
.text-stylized {
  font-family: 'MrEavesRemake',
}
